
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form action="/Employee/Create" method="Post">
    <div class="row">
        <div class="col-md-6">
            <label for="FirstName">FirstName</label>
            <input type="text"
                   class="form-control"
                   id="FirstName"
                   name="FirstName"
                   placeholder="FirstName" />
        </div>
        <div class="col-md-6">
            <label for="LastName">LastName</label>
            <input type="text"
                   class="form-control"
                   id="LastName"
                   name="LastName"
                   placeholder="LastName" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="Address">Address</label>
            <input type="text"
                   class="form-control"
                   id="Address"
                   name="Address"
                   placeholder="Address" />
        </div>
        <div class="col-md-6">
            <label for="BirthPlace">BirthPlace</label>
            <input type="text"
                   class="form-control"
                   id="BirthPlace"
                   name="BirthPlace"
                   placeholder="BirthPlace" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/Employee" class="btn btn-danger">Cancel</a>
</form>


