@model EmployeeManagement.Models.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<form action="/employee/delete/@Model.Id" method="post">
    <input type="hidden"
           name="Id"
           value="@Model.Id" />
   
   
    <button type="button"  class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thong bao</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
        <p>ban co muon xoa ?</p>
        <tr>
            <th>FirstName</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>LastName</th>
            <td>@Model.LastName</td>
        </tr>


    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger ">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
 



</form>
