@model EmployeeManagement.Models.a.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

    <input type="hidden"
           name="Id"
         id="idItem"  value="@Model.Id" />
   
    <button type="button" class="btn btn-danger" data-toggle="modal" id="btnDelete">Delete</button>
    @*<button type="button"  class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>*@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thong bao</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
        <p>ban co muon xoa ?</p>
        <tr>
            <th>FirstName</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>LastName</th>
            <td>@Model.LastName</td>
        </tr>


    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"onclick="Delete()" >Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $('#btnDelete').on('click', function () {

            if (window.confirm('Bạn có muốn xóa không ?')) {
                Delete();
            }
            else {
            }
    });

    function Delete() {
        var id = $('#idItem').val();

        $.ajax({
            type: 'POST',
            url: '/Employee/DeleteItem',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            success: function (response) {
                alert("Lưu thành công");

            },
            error: function (response) {
                console.log(787787787)
            }
        });
    }
   
</script>




